<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <connectionStrings>
      <add name="ChurchSolution.Properties.Settings.DC5ConnectionString3"
         connectionString="Data Source=ISRAEL;Initial Catalog=DC5;Persist Security Info=True;User ID=sa;Password=zabm"
         providerName="System.Data.SqlClient" />
      <add name="localhost_DC5_Connection" connectionString="XpoProvider=MSSqlServer;data source=ISRAEL;user id=;password=;initial catalog=DC5;Persist Security Info=true" />
      <add name="localhost_DC5_Connection 1" connectionString="XpoProvider=MSSqlServer;data source=ISRAEL;user id=sa;password=zabm;initial catalog=DC5;Persist Security Info=true" />
   </connectionStrings>
     <startup useLegacyV2RuntimeActivationPolicy="true  "> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
</configuration>
